In [1]:
import pandas as pd
import numpy as np

In [29]:
data = pd.read_csv("wiki_movie_plots_deduped.csv")
data.head()

,Release Year,Title,Origin/Ethnicity,Director,Cast,Genre,Wiki Page,Plot
0,1901,Kansas Saloon Smashers,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Kansas_Saloon_Sm...,"A bartender is working at a saloon, serving dr..."
1,1901,Love by the Light of the Moon,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/Love_by_the_Ligh...,"The moon, painted with a smiling face hangs ov..."
2,1901,The Martyred Presidents,American,Unknown,NaN,unknown,https://en.wikipedia.org/wiki/The_Martyred_Pre...,"The film, just over a minute long, is composed..."
3,1901,"Terrible Teddy, the Grizzly King",American,Unknown,NaN,unknown,"https://en.wikipedia.org/wiki/Terrible_Teddy,_...",Lasting just 61 seconds and consisting of two ...
4,1902,Jack and the Beanstalk,American,"George S. Fleming, Edwin S. Porter",NaN,unknown,https://en.wikipedia.org/wiki/Jack_and_the_Bea...,The earliest known adaptation of the classic f...

In [30]:
data.drop(columns=['Wiki Page'], inplace = True)
data.isnull().sum()

Release Year           0
Title                  0
Origin/Ethnicity       0
Director               0
Cast                1422
Genre                  0
Plot                   0
dtype: int64

In [31]:
print(len(data.loc[data['Director'] == 'Unknown'].index))
data = data[pd.notnull(data['Cast'])]
data = data[data['Director'] != 'Unknown']

1124
33464
32893

In [24]:
print(len(data.loc[data['Genre'] == 'unknown'].index))
print(len(data))
data.nunique()

5400
571
33464

Release Year          112
Title               31162
Origin/Ethnicity       24
Director            12194
Cast                32182
Genre                2210
Plot                32595
dtype: int64

In [53]:
#data.groupby("Director").agg(lambda x:x.value_counts().index[0])
director_genres = data.groupby(['Director'])['Genre'].agg(pd.Series.mode).to_frame()
#eliminate_directors = (director_genres[director_genres['Genre'] == 'unkown'])['Director']
#eliminate_directors
director_genres.head()

                             Genre
Director
  Rafi                     unknown
  Shanil Muhammed          unknown
"Alan Smithee"               drama
"Alan Smithee" (Alex Cox)    drama
'Fatty' Arbuckle            comedy

In [61]:
director_genres['Genre'] == 'unkown'

ValueError: The truth value of an array with more than one element is ambiguous. Use a.any() or a.all()